@model Site.Models.Pages.SiteA.LoginPage

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.PageName</title>
</head>
<body>
    <div>
        <h1>@Model.PageName</h1>
    </div>
</body>
</html>
